@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    @apply px-4  mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8
  }
  
  .btn{
    @apply inline-flex items-center h-12 px-6 mb-3 font-medium text-white transition duration-200 rounded shadow-md  md:mb-0 bg-indigo-400 hover:bg-indigo-700
  }
  .btn2{
    @apply text-white bg-gradient-to-r from-indigo-500 to-indigo-900 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-lg px-5 py-2 text-center mr-2 mb-2
  }
  
  .active{
    @apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400
  }
  
  .default{
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-400}

    .applied-job-btn {
      @apply border border-indigo-400 p-2 rounded-md bg-indigo-50 text-indigo-800 text-sm
    }
    
    .applied-job-btn-active {
      @apply border border-indigo-400 p-2 rounded-md bg-indigo-800 text-white text-sm
    }
    